{% extends "base.j2" %}
{% block body %}
<main>
	<img class="banner" src="/static/img/blog-banner.png">
	<div class="center-pane clear-fix">
		<div class="four-oh-four">
      <div>
        <div>404</div>
				<div>(・_・)</div>
      </div>
      <div>
        <p>The page you're looking for doesn't exist.</p>
        <p>If you arrived here from a link on the website, feel free to contact... Well there's no email yet actually.</p>
      </div>
    </div>
	</div>
</main>
{% endblock %}
