<footer>
	<div class="center-pane">
		<span class="copyright">&copy; Aelchemy</span>
		<div>
			<h2>About</h2>
			<h3>Who?</h3>
			<p>Aelexe is a Paladin at the time of writing, but will likely be something else by now.</p>
			<h3>Why?</h3>
			<p>Short and simple guides to WoW content.</p>
		</div>
	</div>
</footer>
