<header>
	<div class="center-pane clear-fix">
		<a class="title" href="/"><span>Dungeon Journal</span></a>
		<nav class="top-nav">
			<ul>
				<li><a href="/dungeon/tomb-of-sargeras">Tomb of Sargeras</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>
	</div>
</header>
